ul {
    list-style-type: none;
    height: 12rem;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0.85rem;
  }

  ul > li {
    padding: 0.65rem 0.85rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: none;
  }

  ul > li:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .k-checkbox-label {
    pointer-events: none;
  }

  .filter-item{
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.25rem;
  }