.container {
  // max-height: 45vh;
  // overflow-y: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.email-block {
  // max-height: 7vh;
  // overflow-y: auto;
  overflow-wrap: anywhere;
}

.message-p-tag {
  margin: 0;
}

.un{
  background-color: red;
}

.pa{
  background-color: orange;
}

.av{
  background-color: green;
}

.circle{

  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 100%;
  margin-left: 40%;
}